<div class="house-card-wrapper">
  <%= link_to house_path(house) do %>
    <div class="house-card">
      <div class="house-img">
        <%= image_tag house.photos.first %>
      </div>
      <div class="house-description">
        <p class="house-title"><%= house.city %>, <%= house.country %></p>
        <p class="accom-fee"><span class="fee">¥ <%= house.accom_fee.to_s.gsub(/(\d)(?=(\d{3})+(?!\d))/, '\1,') %></span>/night</p>

      </div>
    </div>
  <% end %>
</div>
